body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    color: #333333;
}

header {
    background-color: #ffd54f;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #0d47a1;
}

nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: #0d47a1;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #1976d2;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #e3f2fd;
}

.hero h2 {
    font-size: 40px;
    color: #0d47a1;
}

.hero p {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

button {
    background-color: #ffd54f;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #ffca28;
}

section {
    padding: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 15px 0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0,0,0,.1);
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #0d47a1;
    color: white;
}
