body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFDF7;
    color: #333;
}

header {
    background: linear-gradient(135deg, #FFE082, #FFF8E1);
    padding: 40px;
    text-align: center;
}

header h1 {
    color: #1565C0;
    font-size: 48px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

nav {
    margin-top: 25px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    background-color: #FFD54F;
    color: #1565C0;
    padding: 12px 22px;
    margin: 8px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    background-color: #81D4FA;
}

.hero {
    background: white;
    width: 85%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 5px 18px rgba(0,0,0,.1);
    text-align: center;
}

section {
    background: white;
    width: 85%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 5px 18px rgba(0,0,0,.1);
}

ul {
    line-height: 2;
}

footer {
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    color: gray;
}
